<div class="ghostface" data-word-id='<%= @word.id%>'>
	<ul class="supreme-clientele">
<!-- 		<% @articles.each do |article| %>
			<div class="articles">
				<li>
					<div class="headline">
						<%= article.headline %>
					</div>
					
				</li>
		<li class="article">
			<div class="headline">
				<p>
					<%= article.headline %>
				</p>
			</div>
			<div class="lead">
				<p>
					<%= article.lead %>..
				</p>
				<form class="read" method="get" action="<%= article.url %>" target"_blank" >
					<input type="submit" value="READ">
				</form>
			</div>
		</li>
		<% end %> -->
	</ul>
</div>

<script>
var articleList = new ArticleList({model: Article});

$(document).ready(function(){
	console.log("Bubblezzz");
	var listView = new ArticleListView({
		collection: articleList,
		$el: $('.supreme-clientele'),
		modelView: ArticleView,
	});

	// $(".supreme-clientele").on('click', function(){
	//     $(this).animate({ width: "800px", height: "70px" });
	// 		}, function() {
	//     	$(this).animate({ width: "820px", height: "80px" });
	// 	});
	
	articleList.fetch();
});
</script>